<div class="container">
<div class="post-list">
<% if current_user %>
<%= link_to 'Create new post', new_post_path,class: 'link-text'%>
<% end %>
<ul class="listing">
<h2 style="text-align: center; color: #20a0a0">Posts</h2>
<% @posts.each do |post| %>
	<li><h3><%= link_to post.title, post_path(post), class: 'link-text' %></h3></li>
	<div class= "post-content">
	<%= post.content.split[0..50].join(" ")%>
	<% if post.content.length > 50 %>
	<%= link_to "...Readmore", post_path(post), class: 'link-text'%>
	<% else %>
	<% end %>
	<p class="post-created">posted on  <%= post.created_at.strftime("%Y-%m-%d") %> <%= post.created_at.strftime("at %I:%M%p") %></p>
      <%= post.votes_for.count %> LIKES
	</div>	
<% end %>	
</ul>
</div>
</div>


