<div class="container">
<div class="post-list">
<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<% if current_user %> 
<% if @post.user_id == current_user.id %>
<%= link_to "Edit", edit_post_path(@post), class: "btn btn-info" %>
<%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn btn-danger" %>
<% end %>
<% end %>

<% if current_user %>
 <% if current_user.liked?(@post) %>
    <%= link_to 'unlike post', unlike_post_path(@post), class: "btn link-text btn btn-warning"%>
 <% else %>
   <%= link_to 'like post', like_post_path(@post), class: "btn btn-primary link-text" %>
 <% end %>
<% end %>
<% unless current_user %>LIKES<% end %>
<%= @post.votes_for.count %>
</div>
</div>

<%# if @post.comments.present? %>
<!-- <ul>
	<li><%#= render @post.comments %></li>
</ul> -->
<%# end %>
 
<%#= form_for([@post, @post.comments.build]) do |f| %>
<%#= f.label :content %>
<%#= f.text_area :conten, placeholder: "Type your comments................"%>
<%#= f.submit %>
<%# end %>